{% extends 'core/base.html' %}

{% block title %} <title>Home | Welcome</title> {% endblock %}

{% block content %}

<div class="m-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center">Maringo Sports Club</h2>

    <div class="grid grid-cols-3 gap-3">

        {% for sport in sports %}

            <div>
                <img src="{{ sport.passport.url }}" alt="I feel better" class="rounded-t-xl">

                <div class="p-6 bg-white border-t border-b border-red-800 text-center rounded-b-xl">
                    <h2 class="text-2xl">{{ sport.name }}</h2>
                    <p class="text-gray-500">{{ sport.description }}</p>
                </div>
            </div>

        {% endfor %}
    </div>
</div>

{% endblock %}