{% extends 'core/base.html' %}

{% block content %}
<div class="px-6  text-gray-800 text-center rounded m-6 bg-gray-200">
    <h1><b>Maringo sports club</b></h1>

<div class="flex py-2">
    <img src="/" alt="a photo" class="rounded-xl" height="200" width="200">
    
    <div>
        <h1 class="px-2 py-1 ml-5 rounded text-white bg-red-600">About us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint fugiat nisi laudantium dolore aliquam minima ratione optio illum, sunt laborum possimus accusantium nesciunt blanditiis molestiae tenetur, quis perspiciatis. Inventore, molestiae?</p>
    </div>
</div>
</div>
{% endblock %}