    {% extends 'core/base.html' %}
    {% block title %} <title>Login page | Welcome</title> {% endblock %}
{% block content %}
    <div class="my-6 mx-auto p-6 bg-gray-100 w-1/2 rounded-xl">
        <h1 class="text-center text-3xl"><b>Login</b></h1>
    <form method="post" action=".">
        {% csrf_token %}
        {{ form.as_p }}

        {% if form.errors or form.non_field_errors %}
            <div class="mb-3 mt-3 p-6 bg-red-100 rounded-xl">
                {% for field in errors %}
                    {{ field.errors }}
                {% endfor %}
                {{ form.non_field_errors }}
            </div>
        {% endif %}

    <button class="p-2 mt-2 bg-teal-500 hover:bg-teal-800 rounded text-lg text-white">Login</button>
    </form>
    </div>
{% endblock %}