{% extends 'core/base.html' %}

{% block title %} <title> store | Welcome</title> {% endblock %}

{% block content %}
<div class ="m-6" >
    <a href="{% url 'core:det' %}" class="bg-teal-500 text-white hover:bg-teal-800 w-auto rounded p-2">New Item</a>
</div>
<div class="m-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center">Store Items</h2>
<a href = "#">
    <div class="grid grid-cols-3 gap-3">
        {% for item in items %}
            <div>
                <div class="p-6 bg-white border-t border-red-800 text-center rounded-t-xl">
                    <h2 class="text-2xl">{{ item.item_name }}</h2>
                    <p class="text-gray-500"><b> Price: </b>{{ item.price }}</p>
                </div>

                <div>
                    <img src="{{ item.photo.url }}" alt="I feel better" class="rounded-b-xl" width ="400" height ="auto" >
                </div>
            </div>

        {% endfor %}
</div>
</a>
</div>
{% endblock %}
