{% extends 'core/base.html' %}

{% block title %} <title> mentor | Welcome</title> {% endblock %}

{% block content %}
<div class="m-3 bg-gray-200 rounded-xl text-center p-6">
    <h1 class="text-2xl text-gray-800">Our patrons</h1>
    <p class="text-center">{% lorem 1 b random %}</p>
</div>

{% for item in items %}
<div class="m-3 bg-gray-200 rounded-xl text-center p-6">
    <h1 class="text-2xl">{{ item.item_name }}</h1>
    <div class="flex">
        <img src="{{ item.photo.url }}" class="rounded-xl" alt="Patron photo" width="200" height="50">
        <div class="text-center m-4">
            <p>{{ item.price }}</p>
        </div>

    </div>
</div>
{% endfor %}
{% endblock %}
